body {
  background:#555;
  text-align:center;
  color:grey
  margin: 0;
  width: 100%;
}

nav {
  color: black;
  background: black;
  border-bottom: 3px solid white;
  width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
}

li {
  width: 45%;
  float: left;
  margin: 20px auto;
}

nav a {
  color: orange;
  text-decoration:none;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
  color: black;
  background: white
}
