body {
  background:#555;
  text-align: center;
  color: #C0EAD0
  margin: 0;
  width: 100%;
  padding-bottom: 50px;
  font-family:'Bitter', serif;
}

nav {
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  background: #A28497;
  border-bottom: 3px solid white;
  width: 100%;
  margin: 0;
  display: inline-block;
}

ul {
  list-style-type: none;
}

li {
  width: 33%;
  float: left;
  margin: 20px auto;
}

a {
  color: #392B58;
  text-decoration: none;
  font-size: 16px;
  font-style: oblique;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover, p a:hover{
  color: red;
  background: grey;
}

h1 {
  font-size: 40px
}

h2 {
  font-size: 25px
}

h1, h2 {
  font-weiht: bold;
}

p{
font-size: 18px
margin: 7px auto;
}


img{
  margin: 50px; auto;
  width: 75%;
  max-width: 400px;
  min-width: 200px;
}

section{
  background: green;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 15px black;
}
